{% extends "layout.html" %}

{% block heading %}
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='contact-us.css')}}">
{% endblock %}
{% block body %}
    <main>
        <header> 
                <h1>Contact Us</h1>
                <p>Ingin bergabung bersama kami? kalian bisa menghubungi Bajingan Sukses lewat link dibawah ini.<br>Kami akan membalas via chat atau berupa balasan email atau hubungi contact dibawah, Terimakasih.</p>
        </header> 
        <div class="content">
            <table class="contact">
                <tr>
                    <td><img src="{{url_for('static',filename='admin.png')}}" alt="admin"></td>
                    <td><p> Adhi Pramana</p></td>
                </tr>
                <tr>
                    <td><img src="{{url_for('static',filename='phone.png')}}" alt="phone"></td>
                    <td><p>0812345678</p></td>
                </tr>
                <tr>
                    <td><img src="{{url_for('static',filename='email.png')}}" alt="email"></td>
                    <td><p>adhi@gmail.com</p></td>
                </tr>
            </table>
            <div class="office-hours">
                <h1>Office Hours</h1>
                <h2>Monday - Friday<br><span> 10:00 AM - 19.00PM</span></h2>
                <h2>Saturday - Sunday <br>
                    <span>10:00 AM - 19.00PM</span></h2>
            </div>
        </div>
    </main>
{% endblock %}